/*====================
    Color Picker 
======================*/
@import "./elements/hue";
@import "./elements/saturation";
@import "./elements/editable_input";
@import "./elements/swatches";
@import "./elements/custom_pointer";
@import "./elements/custom_slider";

.color-picker {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 330px;
  margin-left: 35%;
  margin-top: 10vh;
  padding-top: 1%;
  border-radius: 5px;
  background-color: #dad8d8bf;
}
