/*====================
    Hue Component 
======================*/

.hue-canvas {
  position: relative;
  display: grid;
  width: 295px;
  height: 5px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px #a5a5a5bd;

  .hue-horizontal {
    background: linear-gradient(
      to right,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
    background: -webkit-linear-gradient(
      to right,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
  }

  .hue-vertical {
    background: linear-gradient(
      to top,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
    background: -webkit-linear-gradient(
      to top,
      #f00 0%,
      #ff0 17%,
      #0f0 33%,
      #0ff 50%,
      #00f 67%,
      #f0f 83%,
      #f00 100%
    );
  }
}
